@import url("base.css");

body{
    background-color: #161b21;
}
.card {
    background-color: rgb(45,48,52)!important;
    color: white
}
.text-center{
    color: white;
}
.form-group{
    color: white;
}
.form-control{
    border-radius: 0%;
    background-color: #EEEEEE;
}
.auth{
    color: black;
    background-color: #EEEEEE;
    border: none;
}
.toggle{
    border: none !important;
}
#wrapper{
    background-color: #494949 !important; 
 }
 #sidebar-heading{
     background-color: #454545;
 }
 .logo{
    background: rgb(34,37,41);
    color: white;
}
.en{
    background: rgb(34,37,41) !important;
}
 .sidebar {
    height: 100vh;
    background:  rgb(45,48,52);
    color: white;
 }
.sidebar a:hover,
.sidebar .a-but:hover {
    transition: 0.2s;
    background: #4e4e4e !important;
}
p{
    color:white;
}
.quick-card {
    background: rgb(34,37,41);
}
.quick-card:hover {
    background: rgb(53, 57, 62);
}
.roo {
    background-color: rgb(34,37,41)!important;
}
.roo:hover {
    background-color: rgb(56, 59, 64)!important;
}
h5{
    color: white;
}
i{
    color: white;
}
.input-group-text{
    color: white;
}
.modal-content{
    background-color: rgb(53, 57, 62);
}
div{
    color: white;
}
.ggg{
    filter: invert(1);
}
.stat-yellow { background: #d7b352; }
.stat-yellow .stat-footer { background: #bfa048; }
.stat-blue { background: #6399d4; }
.stat-blue .stat-footer { background: #5b8ec4; }
.stat-green { background: #8fba53; }
.stat-green .stat-footer { background: #82a94c; }
.offcanvas-header{
    color: white;
}
.sidebar a,
.sidebar .a-but {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    color: #ccc;
    text-decoration: none;
    background: none;
    border: none;
}
.offcanvas{
    background:  rgb(45,48,52);
    box-shadow: none;
}
.offcanvas a{
    color: #ffffff;
}
.fff:hover{
    color: white;
    transition: 0.2s;
    background: #4e4e4e !important;
}
.theme-icon {
    color: #facc15;
}
